# Environment files
.env*
!.env.local

# Dependencies
node_modules

# Next.js build
.next
out

# Testing
src/test
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
e2e
playwright.config.ts
test-results
playwright-report
blob-report
coverage

# Development
.git
.gitignore
.vscode
.idea
*.log
README.md
*.md

# Build artifacts
build.log
docker-compose.yml
Dockerfile.dev
